.about{
    background: url('../images/about-bg.jpg') 50% 50%;
    background-size: cover;

    height: 685px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__image{
        margin-top: -40px;
    }

    &__content{
        flex-basis: 50%;
    }
}
