.btn{
    font-family: $ff-ubuntu;
    font-size: $fz-small;
    border: 0;
    line-height: 1.2;
    background: #3DD2DD;
    border-radius: 190px;

    padding: 1.5em 2em;

    font-size: $fz-small;
    color: $white;

    @include transition(background);
    &:hover{
        background: darken(#3DD2DD, 10%);
    }
    &--tab{
        font-weight: 500;
        letter-spacing: 0.08em;
        padding: 1em 1.75em;
        background: transparent;
        border: 1px solid rgba(15, 13, 4, 0.2);
        white-space: nowrap;
        color: $dark;
        @include transition(border);
        &:hover{
            border-color: #3DD2DD;
            background: transparent;
        }
    }


    &--prev,
    &--next{
        padding: 1.5em;
        border: 1px solid rgba(15, 13, 4, 0.2);
        border-radius: 100%;

        @include transition(border);
        &:hover{
            border-color: #3DD2DD;
        }
    }

    &--prev{
        background: url('../images/arrow-prev.svg')  50% 50% no-repeat;
    }

    &--next{
        background: url('../images/arrow-next.svg') 50% 50% no-repeat;
    }
}
.active{
    border-color: #3DD2DD;
    background: transparent;
}
