.header{
    position: relative;
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 15px;
        padding-bottom: 15px;

        backdrop-filter: blur(22px);

        position: absolute;
        left: 50%;
        z-index: 20;

        transform: translateX(-50%);

        width: 100%;
        height: 100px;
    }
    &-logo{
        display: block;
        height: 100%;

        &__link{
            &:hover{
                .path-color{fill: #ffffff;}
            }
        }
    }
    &__contact{
        font-family: $ff-cuprum;
        font-size: $fz-medium;
        color: $dark;
        line-height: 1.2;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        @include transition(border);
        &:hover{
            border-bottom: 2px solid #000;
        }
    }
}

.nav{
    display: flex;
    align-items: center;
    &__link{
        list-style: none;
        opacity: 0.5;

        &--active{
            opacity: 1;
        }

        @include transition(opacity);
        &:hover{
            opacity: 1;
        }
        a{
        text-decoration: none;
        color: inherit;
        }
        &:not(:first-child){
            margin-left: 70px;
            position: relative;
            &:before{
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                background-color: $dark;
                border-radius: 100%;

                position: absolute;
                top: 50%;
                left: -35px;

                transform: translateY(-50%);
            }
        }
    }
}

.path-color{
    @include transition(fill);
}
