.intro{
    height: 924px;
    position: relative;
    background: url('../images/intro-bg.jpg') 50% 50%;
    background-size: cover;

    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__content{
        margin-left: 60px;
        margin-top: 38px;
        flex-basis: 45%;

        z-index: 2;
    }

    &__image{
        margin-left: -80px;
        flex-basis: 55%;

        z-index: 1;
        img{
            width: 100%;
        }
    }

    .socials{
        position: absolute;
        top: 50%;
        right: 40px;
        transform: rotate(90deg);
        a{
            color: inherit;
            text-decoration: none;
            margin: 0 60px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
