.last-news{
    background: url('../images/last-news-bg.jpg') top repeat-x;

    .ta-c{
        max-width: 540px;
        margin: 0 auto;
    }

    &__content{
        display: flex;
        justify-content: start;
        gap: 32px;
        margin-bottom: 60px;
    }

    &__item{
        flex-basis: 568px;
    }
    &__image{
        margin-bottom: 33px;
    }
    &__cat{
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 17px;
    }

    &__text{
        line-height: 29px;
        margin-bottom: 12px;
    }

    &__time{
        opacity: 0.4;
    }
}
