.production{
    &__inner{
        margin-left: 136px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__description{
        margin-bottom: 32px;
    }

    &__images{
        display: flex;
        gap: 33px;
        height: 362px;
    }
    h4{
        position: relative;
        margin-bottom: 8px;
        &:before{
            display: block;
        }
    }
}
