.reviews{
    padding-left: 57px;
    padding-right: 57px;

    &__inner{
        position: relative;
    }

    .text{
        margin-bottom: 60px;
    }

    &__buttons{
        display: flex;
        gap: 11px;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        width: 550px;
        height: 302px;
        position: relative;
        margin-right: 66px;
    }

    &__photo{
        position: absolute;
        top: 0;
        left: 0;
    }

    &__author{
        margin-left: 131px;
    }

    &__text{
        width: 500px;
        height: 236px;
        background-color: $color-secondary;
        margin-left: 50px;
        padding: 60px;
    }

    &__date{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        position: absolute;
        bottom: 60px;
        left: 9px;
        opacity: 0.4;
    }
}
