.services{
    display: flex;
    height: 484px;

    &__item{
        padding-top: 87px;
        flex-basis: 33.3333%;
        text-decoration: none;
        color: inherit;

        position: relative;

        @include transition-two(background,color);

        &:hover,
        &--active{
            background:  linear-gradient(0deg, rgba(15, 13, 4, 0.89), rgba(15, 13, 4, 0.89)),url('../images/services.jpg') 50% 50% no-repeat;
        }
        &:hover .services__content,
        &--active .services__content{
            color: #fff;
            .number{
                margin-top: -50px;
                font-size: 218px;
                color: #fff;
                opacity: 0.1;

                div{
                    background-color: #fff;
                }
            }
            .separate{
                background-color: #fff;
            }
        }

    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 108px;

        position: relative;

        @include transition(color);

        .title{
            position: relative;
            margin-right: 44px;
            color: inherit;
            &:before{
                display: block;
            }
        }

        .text{
            max-height: 60px;
            margin-right: 44px;
            margin-bottom: 49px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .number{
            margin-right: 69px;
            font-family: $ff-cuprum;
            font-size: 148px;
            line-height: 1.1;
            color: $dark;
            opacity: 0.05;


            div{
                display: inline-block;
                width: 13px;
                height: 16px;
                background-color: $dark;
            }
        }

        .separate{
            display: block;
            position: absolute;
            bottom: 30%;
            right: 0;
            width: 57px;
            height: 1px;
            background-color: #000;

            @include transition(background);
        }
    }
}
