.works{
    overflow: hidden;
    position: relative;
    min-height: 1000px;
    &__tab{
        margin-left: 136px;
        margin-bottom: 40px;
        white-space: nowrap;

        .btn{
            margin: 0 12px;
        }
    }

    &__images{
        display: grid;
        grid-template: repeat(2, 1fr)/repeat(3, 1fr);
        grid-gap: 33px;
        justify-items: stretch;

        opacity: 0;
        position: absolute;
        top: 200px;
        left: 0;

        @include transition(opacity);
    }
}
