// Mixins
@mixin transition($prop) {
  transition: $prop 0.3s linear;
}
@mixin transition-two($prop, $prop2) {
  transition: $prop 0.3s linear, $prop2 0.3s linear;
}
// end Mixins

// Vars
$dark: #0f0d04;
$white: #ffffff;

$color-primary: #3dd2dd;
$color-secondary: #ebfafc;

$ff-cuprum: "Cuprum", sans-serif;
$ff-ubuntu: "Ubuntu", sans-serif;

$fz-xl: 80px;
$fz-large: 52px;
$fz-medium: 24px;
$fz-small: 16px;

$padding-medium: 180px;
$padding-small: 15px;

// end Vars

@import "vendor/reset.scss";

@import url("https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&family=Ubuntu:wght@400;500&display=swap");

html {
  font-size: 62.5%;
}
body {
  width: 100%;
  margin: 0 auto;

  font-family: $ff-ubuntu;
  font-size: $fz-small;
  font-weight: 400;
  line-height: 1.8;

  color: $dark;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  &--max {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.wrapper-outer {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
  &--padding-sm {
    padding-top: $padding-small;
    padding-bottom: $padding-small;
  }
}

.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}

.title {
  margin-bottom: 40px;

  font-family: $ff-cuprum;
  font-size: $fz-large;
  font-weight: 700;
  line-height: 1.1;

  color: $dark;
  &:before {
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    background-color: $color-primary;
    border-radius: 100%;
    opacity: 0.5;

    position: absolute;
    top: 12px;
    left: -24px;

    transform: translateY(-50%);
  }

  &--big {
    font-size: $fz-xl;
  }

  &--large {
    font-size: $fz-large;
    margin-bottom: 40px;
  }

  &--md {
    font-size: $fz-medium;
    margin-bottom: 16px;
  }

  &--sm {
    font-size: $fz-small;
  }
}

.text {
  margin-bottom: 40px;
}

@import "block/header.scss";
@import "block/intro.scss";
@import "block/btn.scss";
@import "block/services.scss";
@import "block/about.scss";
@import "block/production.scss";
@import "block/works.scss";
@import "block/reviews.scss";
@import "block/slider.scss";
@import "block/last-news.scss";
@import "block/footer.scss";
// @import "block/map.scss";
