<footer class="wrapper-outer--padding-sm footer">
    <div class="wrapper">
        <div class="ta-c">
            © 2021 All rights reserved. Developed at <a href="#">ISVD</a>
        </div>
    </div>
</footer>
