---
layout: default
title: Iprint
---

<!-- Intro block -->
<div class="wrapper-outer intro">
    <nav class="socials">
        <a href="">Facebook</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
    </nav>
    <div class="wrapper intro__inner">
        <div class="intro__content">
            <h2 class="title title--big">Все виды полиграфических услуг</h2>
            <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</div>
            <button class="btn" type="button">Свяжитесь с нами</button>
        </div>
        <div class="intro__image">
            <img src="assets/images/intro-bird.png" alt="">
        </div>
    </div>
</div>
<!--/.Intro-->

<!-- Services block -->
<div class="services wrapper--max">
    <a href="#" class="services__item services__item--active">
        <div class="services__content">
            <h3 class="title title--md">Широкоформатная Печать</h3>
            <div class="text">Основа наружной рекламы. Мы с радостью напечатаем Вашу рекламу ...</div>
            <div class="number ta-r">01<div></div></div>
            <div class="separate"></div>
        </div>
    </a>
    <a href="#" class="services__item">
        <div class="services__content">
            <h3 class="title title--md">Изготовление Наружной Рекламы</h3>
            <div class="text">Вам приходилось заказывать вывеску или рекламную кампанию?</div>
            <div class="number ta-r">02<div></div></div>
            <div class="separate"></div>
        </div>
    </a>
    <a href="#" class="services__item">
        <div class="services__content">
            <h3 class="title title--md">Ультрафиолетовая Печать</h3>
            <div class="text">Широкоформатная Ультрафиолетовая Печать на любом материале, ширина...</div>
            <div class="number ta-r">03<div></div></div>
            <div class="separate"></div>
        </div>
    </a>
</div>
<!-- /.Services -->

<!--  About block -->
<div class="wrapper-outer about">
    <div class="wrapper about__inner">
        <div class="about__image">
            <img src="assets/images/about-owl.png" alt="">
        </div>
        <div class="about__content">
            <h2 class="title title--large">О нас</h2>
            <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illoperspiciatis unde omnis iste </div>
            <button class="btn" type="button">Свяжитесь с нами</button>
        </div>
    </div>
</div>
<!-- /.About  -->

<!-- Production -->
<div class="wrapper-outer wrapper--max production">
    <div class="production__inner">
        <div class="production__content">
            <h3 class="title title--large">Наше производство</h3>

            <div class="production__description">
                <h4 class="title title--md">Высокое качество</h4>
                <div class="text">До 7 лет гарантии на всю нашу продукцию!</div>
            </div>
            <div class="production__description">
                <h4 class="title title--md">Высокое качество</h4>
                <div class="text">До 7 лет гарантии на всю нашу продукцию!</div>
            </div>
            <div class="production__description">
                <h4 class="title title--md">Высокое качество</h4>
                <div class="text">До 7 лет гарантии на всю нашу продукцию!</div>
            </div>

        </div>
        <div class="production__images">
            <img src="assets/images/production-1.jpg" alt="">
            <img src="assets/images/production-2.jpg" alt="">
            <img src="assets/images/production-3.jpg" alt="">
        </div>
    </div>
    <div class="production__btn ta-c">
        <button class="btn">Напишите нам</button>
    </div>

</div>
<!-- /.Production -->

<!-- Works block -->
<div class="works wrapper--max">
    <h2 class="title title--large ta-c">Наши работы</h2>
    <div class="works__tab">
        <button class="btn btn--tab" onclick="openWorks(event, 'all')" id="defaultOpen">Все</button>
        <button class="btn btn--tab" onclick="openWorks(event, 'printingOnMirror')">Печать на Зеркале</button>
        <button class="btn btn--tab" onclick="openWorks(event, 'illuminatedSigns')">Световые Вывески</button>
        <button class="btn btn--tab" onclick="openWorks(event, 'slidingWardrobes')">Шкафы Купе, Окна, Картины</button>
        <button class="btn btn--tab" onclick="openWorks(event, 'stands')">Реклама, Вывески, Стенды</button>
        <button class="btn btn--tab" onclick="openWorks(event, 'printingOnTile')">Печать на Кафеле, Плитке</button>
    </div>

    <div class="works__images" id="all">
        <img src="assets/images/works-1.jpg" alt="">
        <img src="assets/images/works-2.jpg" alt="">
        <img src="assets/images/works-3.jpg" alt="">
        <img src="assets/images/works-4.jpg" alt="">
        <img src="assets/images/works-5.jpg" alt="">
        <img src="assets/images/works-6.jpg" alt="">
    </div>

    <div class="works__images" id="printingOnMirror">
        <img src="assets/images/works-1.jpg" alt="">
        <!-- <img src="assets/images/works-2.jpg" alt="">
        <img src="assets/images/works-3.jpg" alt="">
        <img src="assets/images/works-4.jpg" alt="">
        <img src="assets/images/works-5.jpg" alt="">
        <img src="assets/images/works-6.jpg" alt=""> -->
    </div>
    <div class="works__images" id="illuminatedSigns">
        <!-- <img src="assets/images/works-1.jpg" alt="">
        <img src="assets/images/works-2.jpg" alt="">
        <img src="assets/images/works-3.jpg" alt="">
        <img src="assets/images/works-4.jpg" alt=""> -->
        <img src="assets/images/works-5.jpg" alt="">
        <img src="assets/images/works-6.jpg" alt="">
    </div>
    <div class="works__images" id="slidingWardrobes">
        <img src="assets/images/works-1.jpg" alt="">
        <img src="assets/images/works-2.jpg" alt="">
        <!-- <img src="assets/images/works-3.jpg" alt="">
        <img src="assets/images/works-4.jpg" alt=""> -->
        <img src="assets/images/works-5.jpg" alt="">
        <img src="assets/images/works-6.jpg" alt="">
    </div>
    <div class="works__images" id="stands">
        <img src="assets/images/works-1.jpg" alt="">
        <!-- <img src="assets/images/works-2.jpg" alt="">
        <img src="assets/images/works-3.jpg" alt="">
        <img src="assets/images/works-4.jpg" alt="">
        <img src="assets/images/works-5.jpg" alt=""> -->
        <img src="assets/images/works-6.jpg" alt="">
    </div>
    <div class="works__images" id="printingOnTile">
        <img src="assets/images/works-1.jpg" alt="">
        <img src="assets/images/works-2.jpg" alt="">
        <!-- <img src="assets/images/works-3.jpg" alt="">
        <img src="assets/images/works-4.jpg" alt="">
        <img src="assets/images/works-5.jpg" alt=""> -->
        <img src="assets/images/works-6.jpg" alt="">
    </div>
</div>
<!-- /.Works -->

<!-- Reviews -->
<div class="wrapper-outer reviews">
    <div class="wrapper reviews__inner">
        <h3 class="title title--large">Отзывы</h3>
        <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</div>

        <div class="reviews__buttons">
            <button class="btn--prev" type="button" aria-label="Previous"></button>
            <button class="btn--next" type="button" aria-label="Next"></button>
        </div>
        <ul class="reviews__list slider__inner">

            <li class="reviews__item">
                <img src="assets/images/reviews-author-2.jpg" alt="" class="reviews__photo">
                <h4 class="title title--md reviews__author">Кристина Петрова</h4>
                <div class="reviews__text">“Маг. Феррум всегда предлагает низкую цену. Я печатаю акционные предложения на блюбэке. Мне нравиться отношение и понимание сжатых сроков”</div>
                <time class="reviews__date" datetime="01-01-2020 20:00">Январь 2020</time>
            </li>
            <li class="reviews__item">
                <img src="assets/images/reviews-author-1.jpg" alt="" class="reviews__photo">
                <h4 class="title title--md reviews__author">Дмитрий Леонов</h4>
                <div class="reviews__text">“Маг. Феррум всегда предлагает низкую цену. Я печатаю акционные предложения на блюбэке. Мне нравиться отношение и понимание сжатых сроков”</div>
                <time class="reviews__date" datetime="01-01-2020 20:00">Январь 2020</time>
            </li>

            <li class="reviews__item">
                <img src="assets/images/reviews-author-2.jpg" alt="" class="reviews__photo">
                <h4 class="title title--md reviews__author">Кристина Петрова</h4>
                <div class="reviews__text">“Маг. Феррум всегда предлагает низкую цену. Я печатаю акционные предложения на блюбэке. Мне нравиться отношение и понимание сжатых сроков”</div>
                <time class="reviews__date" datetime="01-01-2020 20:00">Январь 2020</time>
            </li>
            <li class="reviews__item">
                <img src="assets/images/reviews-author-1.jpg" alt="" class="reviews__photo">
                <h4 class="title title--md reviews__author">Дмитрий Леонов</h4>
                <div class="reviews__text">“Маг. Феррум всегда предлагает низкую цену. Я печатаю акционные предложения на блюбэке. Мне нравиться отношение и понимание сжатых сроков”</div>
                <time class="reviews__date" datetime="01-01-2020 20:00">Январь 2020</time>
            </li>
        </ul>
    </div>
</div>
<!-- /.Reviews -->

<!-- Last news -->
<div class="wrapper-outer last-news">
    <div class="wrapper">
        <div class="ta-c">
            <h2 class="title title--large">Последние новости</h2>
            <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</div>
        </div>


        <div class="last-news__content">
            <div class="last-news__item">
                <img src="assets/images/last-news-1.jpg" alt="" class="last-news__image">
                <div class="last-news__cat">КАТЕГОИРИЯ</div>
                <h3 class="title title--md">Как защитить Баннер от выгорания?</h3>
                <div class="last-news__text">“Маг. Феррум всегда предлагает низкую цену. Я печатаю акционные предложения на блюбэке. Мне нравиться отношение и понимание сжатых сроков”</div>
                <time class="last-news__time" datetime="12-04-2021 12:00">12.04.2021</time>
            </div>
            <div class="last-news__item">
                <img src="assets/images/last-news-2.jpg" alt="" class="last-news__image">
                <div class="last-news__cat">КАТЕГОИРИЯ</div>
                <h3 class="title title--md">Универсальный материал для рекламы</h3>
                <div class="last-news__text">“Маг. Феррум всегда предлагает низкую цену. Я печатаю акционные предложения на блюбэке. Мне нравиться отношение и понимание сжатых сроков”</div>
                <time class="last-news__time" datetime="12-04-2021 12:00">12.04.2021</time>
            </div>
        </div>
        <div class="ta-c">
            <button class="btn">Свяжитесь с нами</button>
        </div>

    </div>
</div>
<!-- /.Last news -->
